/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
.main {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	padding-bottom: 25px;
}
section {
	margin: 50px 0;
	padding-top: 25px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	gap: 4px;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	text-align:center;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 19px;
    margin-right: 20px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	padding-top: 40px;
	margin-left: 45px;
	gap: 10px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	/* width: 80%; */
	width: 474px;
	height: 355px;
}

#introduction article {
	flex: 1;
	margin-left: 30px;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 17px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 85%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.form {
	width: 50%;
	margin: auto;
}
.form  > * {
	text-align: center;

}
.form h2{
	margin-bottom: 20px;
}
.form form {
	text-align: left;
	margin-top:10px;
	display: flex;
	flex-direction: column;
}

#contact {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.form input {
	height: 50px;
	width: 100%;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form label {
	margin: 2em 0 0.7em 0;
}
.form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav {
	margin-right: 44px;
    padding-right: 44px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* add style for project */

a {
	text-decoration: none;
	color: black;
}

.li_hover:hover{
	color: #B1663C;
}

h3 {
	text-align: center;
}

#portfolio h2 {
	margin-top: 60px;
}
/* filters  */

#filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-bottom: 50px;
	gap: 10px;
}

#filters:hover {
	cursor: pointer;
}

.filter.every{
	color:#1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 9px 30px 9px 28px;
}

.filter.every:hover {
	background-color: #1D6154;
	color:white;
}

.filter.object{
	color:#1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 9px 22px 9px 20px;
}

.filter.object:hover {
	background-color: #1D6154;
	color:white;
}


.filter.appart{
	color:#1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 9px 15px 9px 14px;
}

.filter.appart:hover {
	background-color: #1D6154;
	color:white;
}


.filter.hotel{
	color:#1D6154;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	border-radius: 60px;
	border: 1px solid #1D6154;
	padding: 9px 11px 9px 9px;
}

.filter.hotel:hover {
	background-color: #1D6154;
	color:white;
}

.filter.selected {
	background-color: #1D6154;
	color: white;
}


/* Login page */

#login {
	display: flex;
    flex-direction: column;
    align-items: center;

}

#form_login {
	width: 65%;
	margin-top: 15px;
}

#login_title {
	margin-top: 40px;
	margin-bottom: 0;
}

#btn_login {
	margin-top: 36px;
}

button {
	font-family: 'Syne';
	font-weight: 700;
	padding: 10px 38px 9px 39px;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border: #1D6154;
	border-radius: 60px ;
}

#send_btn {
	margin-top: 38px;
}

.password {
	color: #3D3D3D;
	text-align: center;
	text-decoration: underline;
}

#login_footer {
	position: fixed;
	bottom: 0;
	width: 80%;
}

.insta {
	width: 45%;
}

#link_login {
	font-weight: bold;
}

/* Elements qui apparaissent quand on se connecte */

.is_connected {
	display:none;
}

#edit_mode {
	justify-content: center;
	align-items: center;
	gap: 10px;
	background-color: black;
	padding-bottom: 20px;
}

#edit{
	font-size: 16px;
	color: white;
	padding-top: 19px;
}

.edit_project{
	display: flex;
	justify-content: center;
	gap: 30px;
}

#modify {
	align-items: center;
    padding-top: 30px;
	gap: 10px;
}

#modify_text{
	font-size: 14px;
	cursor: pointer;
}


/* Modale de suppression */

.modal {
	display: none; 
	justify-content: center;
	align-items: center;
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	overflow: auto;
  }
  
  
  .modal_content {
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 36%;
	height: 79%;
	border-radius: 10px; 
  }
  
  .close {
	color: black;
	float: right;
	font-size: 25px;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .modal_gallery {
	display: flex;
	flex-direction: column;
  }

.modal_gallery_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 25px;
}
  
  h3 {
	font-size: 26px;
  }

  .add_title {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 35px;
  }

  #add_btn {
	display: flex;
	padding: 10px 49px 9px 49px;
	width: auto;
  }

  #project_gallery {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 10px; 
	grid-row-gap: 30px;
	padding-bottom: 15px;
	
  }

  .img_gall {
	width: 100%;
  }

  .fa-solid {
	position: absolute;
	top: 8px;
	right: 5px;
	background-color: black;
    color: white;
    padding: 4px;
	border-radius: 3px;
	cursor: pointer;
  }

  .div_gall {
	position: relative;
  }

  hr {
	background-color: #B3B3B3;
	opacity: 0.5;
	height: 1px;
	width: 100%;
	border: none;
	margin-top: 40px;

  }

  /* Modale d'ajout */

  #submit_btn {
	background-color: #CBD6DC;
	color: #306685;
  }


  #add_picture {
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  #btn_picture {
	padding: 10px 30px 10px 30px;
	background-color: #CBD6DC;
	color:#306685 ;
	margin-top: 8px;
    margin-bottom: 5px;
  }

  #add-project_modal {
	display: none;
	flex-direction: column;
	
  }

  #arrow {
	/* display: none; */
	cursor: pointer;
  }


  #submit_picture {
	display: flex;
	justify-content: center;
	color: #FFF;
	background-color: #A7A7A7;

  }

#category {
	height: 50px;
    width: 100%;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#form_project {
	width: 70%;
}

#image {
	height: 25px;
    width: 25%;
}

#hidden_btn_file{
	display: none;
}

.modal_project {
	width: 70%;
}

#form_modal {
	margin: 0px;
}

/* visualisation imgage */

.image_viewing{
	width: 300px;
	min-height: 100px;
	display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
	display: none;
}

.imgview{
	width: 129px;
	height: 160px;
	flex-shrink: 0;
}

#adding_elements {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
    padding-bottom: 17px;
}

.txt_img_size {
	font-size: 10px;
}

/* artcile page project */
.text_article {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;
	text-align: left;

}

.div_gall_img{
	display: flex;
	justify-content: center;
}